@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: 'Nunito', Tahoma, Arial, sans-serif;
  font-size: 18px;
  color: #2b374d;
  padding-top: 110px;
  background: #fff;
  text-align: center;
}

.main-section {
  margin: 0 auto;
}