@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: "Nunito", Tahoma, Arial, sans-serif;
  font-size: 18px;
  color: #2b374d;
  //background: #EAFFF4 !important;
  text-align: center;
}

p {
  margin: 0;
}

.main-section {
  margin: 0 auto;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

.hide-nav {
  position: absolute;
  width: 100%;
  height: 34px;
  background: #EAFFF4;
  bottom: 0;
}

.spinner-container {
  height: 100%;
  width: 100%;
  opacity: 0.9;
  position: absolute;
  background-color: #EAFFF4;
}

.loading-spinner {
  position: absolute;
  top: 200px;
  left: 50%;
}

.navbar{
  background: #A9DFBF !important;
}

.ng-star-inserted {
  background: #A9DFBF !important;
}