@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #8AC082 !important;
}

button,
[type='submit'] {
  -webkit-appearance: button;
  background-color: #35A17A;
  background-image: none;
}

button,
[type='submit']:hover {
  background-color: #317F6D;
}

.main-section {
  max-width: 1392px;
  margin: 0 auto;
}

.reports {
  min-height: 1500px;
  position: relative;
}

.reports-iframe {
  min-height: 1800px;
}

.hide-nav {
  position: absolute;
  width: 100%;
  height: 34px;
  background: white;
  bottom: 0;
}

.css-lalrea {
  background-color: #69AF62 !important;
}

input {
  background-color: white !important;
  border-radius: 7px !important;
}