@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'Nunito', Tahoma, Arial, sans-serif;
    font-size: 18px;
    color: #2b374d;
    background: #fff;
    text-align: center;
}

.main-section {
    max-width: 1392px;
    margin: 0 auto;
}

.reports {
    min-height: 1500px;
}

.reports-iframe {
    margin-top: 32px;
    min-height: 1800px;
}

