@import "../../styles/common.scss";
@import "bootstrap/dist/css/bootstrap.min.css";

body {
    font-family: "Nunito", Tahoma, Arial, sans-serif;
    font-size: 18px;
    color: #2b374d;
    background: #fff;
    text-align: center;
}

.main-section {
    max-width: 1392px;
    margin: 0 auto;
}

.reports {
    min-height: 1500px;
    position: relative;
}

.reports-iframe {
    margin-top: 32px;
    min-height: 1800px;
}

@media (max-width: 768px) {
    .reports-iframe {
        margin: 0;
    }
}

.ng-star-inserted {
    display: none !important;
}

.hide-nav {
    position: absolute;
    width: 100%;
    height: 34px;
    background: white;
    bottom: 0;
}